streamlit
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-google-genai
langchain-core
langchain-classic
chromadb
sentence-transformers
pypdf
google-generativeai
google-genai
google-api-python-client
Pillow
langgraph
langgraph-prebuilt
langgraph-checkpoint
pandas
